PORT=
DATABASE=
DATABASE_PASSWORD=

IMGUR_ACCESS_TOKEN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_LOGIN_CALL_BACK_URL=

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_LOGIN_CALL_BACK_URL=

MAILER_ACCOUNT=
MAILER_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_DAY=
